doctype html
html(lang='ru')

    include ../modules/head

    body

        // begin wrapper
        .wrapper.is-inner

            img.is-inner__background(src="img/general/body-bg.jpg", alt="Page body image")

            // begin header 
            header.header.header-inner

                .header__container.container
                    .header__top

                        // begin contacts 
                        .contacts
                            .contacts__left
                                a(href="#").contacts__left-link
                                    span.contacts__hours Время работы 10-22
                                    span.contacts__schedule каждый 3-ий понедельник месяца - санитарный день
                                a.contacts__link(href="site-plan.html") План океанариума      
                            .contacts__right
                                address.contacts__address
                                    a.contacts__address-link(href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%9C%D0%B0%D1%80%D0%B0%D1%82%D0%B0,+86,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+191119/@59.9189478,30.3367602,17z/data=!3m1!4b1!4m5!3m4!1s0x46963052d4a092f1:0x1cc3e8c780acd480!8m2!3d59.9189451!4d30.3389542" target="_blank") Спб, ул. Марата, 86
                                a.contacts__phone(href="tel:+79219413588") +7 921 941-35-88

                                // begin socials 
                                ul.socials
                                    li.socials__item
                                        a.socials__link(href="#" target="_blank")
                                            img(src="img/general/vk.svg", alt="Social image").socials__img
                                    li.socials__item
                                        a.socials__link(href="#" target="_blank")
                                            img(src="img/general/fb.svg", alt="Social image").socials__img
                                    li.socials__item
                                        a.socials__link(href="#" target="_blank")
                                            img(src="img/general/inst.svg", alt="Social image").socials__img
                                // end socials 
                        // end contacts 

                        .header__logo

                            // begin logo 
                            a(href="index.html").logo
                                img(src="img/general/logo.png", alt="Logotype").logo__img
                            // end logo 

                        .header__top-right

                            .header__actions

                                a(href="http://neptun-trk.volex.beget.tech").header-actions__link
                                    img(src="img/general/second-logo.svg", alt="Alter logotype").header__actions-img

                                .header__actions-bottom

                                    // begin languages 
                                    ul.languages
                                        li.languages__item
                                            a(href="#").languages__link RU
                                        li.languages__item
                                            a(href="#").languages__link ENG
                                    // end languages 

                                    // begin search 
                                    form.search.header__search
                                        input(type="submit" value="" style="background-image: url(img/general/search.svg);").search__button
                                        input.search__input(type="text" required="required" placeholder="Поиск")
                                    // end search 

                            .header__btns
                                button.button.header__btn.header__btns-item.header__btn--visible
                                    img(src="img/header/btn-img.svg", alt="Button image").button__img
                                    span.header__btn-text.header__btn-text--visible  Электронный билет в Океанариум
                                    span.header__btn-text.header__btn-text--hidden  Эл. билет

                                // begin toggle-menu 
                                button.toggle-menu.header__btns-item
                                    span.sandwich
                                        span.sandwich__line.sandwich__line-top
                                        span.sandwich__line.sandwich__line-mid
                                        span.sandwich__line.sandwich__line-bot
                                    span.toggle-menu__text Меню
                                // end toggle-menu 

                    // begin navigation 
                    nav.navigation
                        ul.navigation__list.menu.menu--hidden
                            li.menu__item
                                a.menu__link(href="index.html") Главная
                            li.menu__item
                                a.menu__link(href="#") О нас
                            li.menu__item
                                a.menu__link(href="#") 
                                    |  Информация
                                    br.header__br 
                                    |  для посетителей
                            li.menu__item
                                a.menu__link(href="#")
                                    |  Показательные кормления
                                    br.header__br
                                    |  и шоу-программы
                            li.menu__item
                                a.menu__link(href="#") 
                                    |  Океанариум
                                    br.header__br 
                                    |  детям
                            li.menu__item
                                a.menu__link(href="#") Дайвинг-центр
                                // begin menu-dropdown 
                                ul.menu-dropdown
                                    li.menu-dropdown__item
                                        a.menu-dropdown__link(href="#") Дайвинг-центр “Планета Нептун”
                                    li.menu-dropdown__item
                                        a.menu-dropdown__link(href="#") Обучение дайвингу
                                    li.menu-dropdown__item
                                        a.menu-dropdown__link(href="#") Экскурсии в главный танк
                                    li.menu-dropdown__item
                                        a.menu-dropdown__link(href="#") Подарочный сертификат    
                                // end menu-dropdown 
                            li.menu__item
                                a.menu__link(href="#") 
                                    |  Магазин
                                    br.header__br 
                                    |  сувениров
                            li.menu__item
                                a.menu__link(href="#") Контакты
                    // end navigation  

                    .container
                        .page-heading
                            h1.title.page-heading__title Рыбы умеренных и тропических широт

                        // begin breadcrumbs 
                        .breadcrumbs
                            ul.breadcrumbs__list
                                li.breadcrumbs__item
                                    a(href="index.html").breadcrumbs__link Главная
                                    img(src="img/general/breadcrumbs-item.png", alt="Breadcrumbs image").breadcrumbs__img
                                li.breadcrumbs__item
                                    a(href="about.html").breadcrumbs__link О нас
                                    img(src="img/general/breadcrumbs-item.png", alt="Breadcrumbs image").breadcrumbs__img
                                li.breadcrumbs__item
                                    a(href="expositions.html").breadcrumbs__link Экспозиции
                                    img(src="img/general/breadcrumbs-item.png", alt="Breadcrumbs image").breadcrumbs__img
                                li.breadcrumbs__item
                                    a(href="expositions-card.html").breadcrumbs__link Рыбы умеренных и тропических широт
                        // end breadcrumbs 

            // end header

            // begin page
            main.page 

                // begin page-wrapper 
                .page-wrapper
                    .page-wrapper__row
                        
                        // begin sidebar 
                        aside.sidebar

                            .sidebar__background(style="background-image: url(img/pages/page-image.png);")

                            // begin inner-menu 
                            .inner-menu
                                .inner-menu__wrapper
                                    .inner-menu__sandwich
                                        span.inner-menu__line.inner-menu__line--top
                                        span.inner-menu__line.inner-menu__line--middle
                                        span.inner-menu__line.inner-menu__line--bottom
                                    h3.inner-menu__text О нас
                                ul.sidebar__list
                                    li.sidebar__item
                                        a(href="#").sidebar__link.link Новости
                                    li.sidebar__item
                                        a(href="site-map.html").sidebar__link.link План Океанариума
                                    li.sidebar__item
                                        a(href="expositions.html").sidebar__link.link Экспозиции
                                        ul.sidebar__sublist
                                            li.sidebar__sublist-item
                                                a(href="#").sidebar__sublist-link.link.active Рыбы умеренных и тропических широт
                                            li.sidebar__sublist-item
                                                a(href="#").sidebar__sublist-link.link Дорога к океану
                                            li.sidebar__sublist-item
                                                a(href="#").sidebar__sublist-link.link Мир медуз
                                            li.sidebar__sublist-item
                                                a(href="#").sidebar__sublist-link.link Скалистое побережье
                                            li.sidebar__sublist-item
                                                a(href="#").sidebar__sublist-link.link Главный аквариум
                                            li.sidebar__sublist-item
                                                a(href="#").sidebar__sublist-link.link Коралловый риф
                                            li.sidebar__sublist-item
                                                a(href="#").sidebar__sublist-link.link Рыбы и млекопитающие С-З России
                                    li.sidebar__item
                                        a(href="#").sidebar__link.link Конференция и публикации
                                    li.sidebar__item
                                        a(href="#").sidebar__link.link СМИ о нас
                                    li.sidebar__item
                                        a(href="#").sidebar__link.link Отзывы
                                    li.sidebar__item
                                        a(href="#").sidebar__link.link Часто задаваемые вопросы
                                    li.sidebar__item
                                        a(href="#").sidebar__link.link Вакансии
                                    li.sidebar__item
                                        a(href="#").sidebar__link.link Обратная связь
                            // end inner-menu 
                        // end sidebar 

                        .page-wrapper__right
                            
                            // begin expositions-card 
                            section.expositions-card

                                .inner-images.double
                                    a(href="img/pages/expositions-card/expositions-big.jpg" data-fancybox="gallery").inner-images__img.inner-images__img--big(style="background-image: url(img/pages/expositions-card/expositions-big.jpg);")
                                    a(href="img/pages/expositions-card/expositions-1.jpg" data-fancybox="gallery").inner-images__img.inner-images__img--small(style="background-image: url(img/pages/expositions-card/expositions-1.jpg);")
                                    a(href="img/pages/expositions-card/expositions-2.jpg" data-fancybox="gallery").inner-images__img.inner-images__img--small(style="background-image: url(img/pages/expositions-card/expositions-2.jpg);")

                                .text.expositions-card__text
                                    p.
                                        Именно с этой зоны начинается путешествие по загадочному подводному миру нашей планеты. У самого входа Вас ждет встреча с 
                                        самыми типичными обитателями пресных вод нашего региона. Природные условия северо-запада России чрезвычайно разнообразны и 
                                        благоприятны для обитателей подводного мира. Множество рек, больших и малых озер со всем разнообразием пресноводной фауны находятся 
                                        на этой огромной территории, и в то же время, в водах Финского залива мы можем встретить морских животных. 
                                    p.
                                        Только в Ленинградской области насчитывается около 110 видов пресноводных рыб. Наибольшее количество видов – 58 - 
                                        обитают в Финском заливе. Это легко объяснимо – здесь постоянно или временно обитают и пресноводные, и проходные, и морские рыбы. 
                                    p.
                                        Почти треть всех пресноводных рыб водоемов нашего региона составляют карповые - 22 вида. Среди них есть виды, которые предпочитают 
                                        быстротекущие воды: сырть, чехонь, пескарь, голавль, сазан, другие обычно живут в реках с медленным, спокойным течением или в маленьких 
                                        озерах: линь, карась. Некоторые виды пресноводных рыб обитают с равным успехом в самых различных водоемах. Это язь, лещ, уклейка, вездесущая 
                                        плотва. Обитают у нас и пришельцы из других регионов, так в последнее время в водоемах Европы широко расселился необычайно ярко окрашенный 
                                        карп кои. Интересна история американского кошачьего сомика – в 1947 году в голодные послевоенные годы его завезли в Россию и попытались 
                                        развести как пищевой объект. Широкого распространения он не получил, но иногда его можно встретить в наших водоемах. Естественно, что все 
                                        эти виды одновременно мы показать не можем, но периодически сменяемая экспозиция даст Вам возможность увидеть самых разных пресноводных рыб 
                                        северо-запада России. 

                                // begin modal 
                                .modal#modal(style="display: none;")

                                    #mask
                                    
                                    button.modal__exit(style="background-image: url(img/general/exit.png);")

                                    .modal__wrapper
                                        .modal__images.inner-images.triple
                                            a(href="img/pages/expositions-card/pike-1.jpg" data-fancybox="modal-gallery").inner-images__img.inner-images__img--big.modal__image--big(style="background-image: url(img/pages/expositions-card/pike-1.jpg);")
                                            a(href="img/pages/expositions-card/pike-2.jpg" data-fancybox="modal-gallery").inner-images__img.inner-images__img--small.modal__img(style="background-image: url(img/pages/expositions-card/pike-2.jpg);")
                                            a(href="img/pages/expositions-card/pike-3.jpg" data-fancybox="modal-gallery").inner-images__img.inner-images__img--small.modal__img(style="background-image: url(img/pages/expositions-card/pike-3.jpg);")
                                            a(href="img/pages/expositions-card/pike-1.jpg" data-fancybox="modal-gallery").inner-images__img.inner-images__img--small.modal__img(style="background-image: url(img/pages/expositions-card/pike-1.jpg);")

                                        .modal__body

                                            ul.modal__characteristic
                                                li.modal__characteristic-item
                                                    b Семейство: 
                                                    span Esocidae (щуковые)
                                                li.modal__characteristic-item
                                                    b Отряд: 
                                                    span Salmoniformes (лососеобразные)
                                                li.modal__characteristic-item
                                                    b Подкласс: 
                                                    span Лучеперые рыбы
                                                li.modal__characteristic-item
                                                    b Класс: 
                                                    span Костные рыбы
                                                li.modal__characteristic-item
                                                    b Международное название: 
                                                    span Pik
                                                li.modal__characteristic-item
                                                    b Максимальные размеры и возраст: 
                                                    span длина – более 1,5 м, вес – до 35 кг., возраст –35 лет.

                                            h4.inner-h4 Распространение

                                            .text.modal__text
                                                p.
                                                    Пресные воды на севере Европы, Азии и Америки. Предпочитает озера и реки с замедленным течением. 
                                                    Держится там, где удобно подкарауливать добычу и оставаться незаметной благодаря пестроте окраски: 
                                                    у излома дна, около валуна, топляка, коряжины,   у подмытого берега, среди зарослей водных растений. 
                                                    Очень прожорлива, питается практически любыми рыбешками, включая свою молодь. Добыча заглатывается только 
                                                    с головы. Крупные щуки способны напасть на плавающую утку. Нерестится сразу после схода льда при температуре 
                                                    воды 3-6 °С, у берегов на глубине 0,5—1 м.

                                            h4.inner-h4 История

                                            .text.modal__text
                                                p.
                                                    Особенной популярностью пользуется история «гейльбронской щуки», которая якобы была императором 
                                                    Фридрихом II лично поймана, помечена золотым кольцом и выпущена в 1230 г. в озеро Бёккинген, 
                                                    близ Гейльбронна (бассейн Неккара), а затем была поймана через 267 лет, достигнув длины 570 см 
                                                    и веса 140 кг. Позвоночник щуки был передан на хранение в собор в Мангейме. Этот рассказ 
                                                    вызвал интерес и недоверие у многих исследователей. Немецкий натурфилософ Окен подробно изучил 
                                                    историческую хронику тех времен и выяснил, что Фридрих II в это время жил в Италии и не мог произвести 
                                                    мечение. Удалось исследовать позвоночник гигантской щуки, выставленной в соборе Мангейма, и оказалось, 
                                                    что он является фальсификацией, будучи составленным из позвонков нескольких щук.
                                        

                                // end modal 

                                // begin inhabitants 
                                .inhabitants
                                    h2.inner-heading.inhabitants__title Обитатели
                                    ul.inhabitants__list
                                        li.inhabitants__item(data-modal="click")
                                            span.inhabitants__img(style="background-image: url(img/pages/expositions-card/1.jpg);")
                                            span.inhabitants__text Карась серебряный
                                        li.inhabitants__item(data-modal="click")
                                            span.inhabitants__img(style="background-image: url(img/pages/expositions-card/2.jpg);")
                                            span.inhabitants__text Красноперка
                                        li.inhabitants__item(data-modal="click")
                                            span.inhabitants__img(style="background-image: url(img/pages/expositions-card/3.jpg);")
                                            span.inhabitants__text Окунь
                                        li.inhabitants__item(data-modal="click")
                                            span.inhabitants__img(style="background-image: url(img/pages/expositions-card/4.jpg);")
                                            span.inhabitants__text Осётр русский
                                        li.inhabitants__item(data-modal="click")
                                            span.inhabitants__img(style="background-image: url(img/pages/expositions-card/5.jpg);")
                                            span.inhabitants__text Осётр сибирский
                                        li.inhabitants__item(data-modal="click")
                                            span.inhabitants__img(style="background-image: url(img/pages/expositions-card/6.jpg);")
                                            span.inhabitants__text Сазан
                                        li.inhabitants__item(data-modal="click")
                                            span.inhabitants__img(style="background-image: url(img/pages/expositions-card/7.jpg);")
                                            span.inhabitants__text Солнечный окунь
                                        li.inhabitants__item(data-modal="click")
                                            span.inhabitants__img(style="background-image: url(img/pages/expositions-card/8.jpg);")
                                            span.inhabitants__text Стерлядь
                                        li.inhabitants__item(data-modal="click")
                                            span.inhabitants__img(style="background-image: url(img/pages/expositions-card/9.jpg);")
                                            span.inhabitants__text Угорь
                                        li.inhabitants__item(data-modal="click")
                                            span.inhabitants__img(style="background-image: url(img/pages/expositions-card/pike-1.jpg);")
                                            span.inhabitants__text Щука
                                // end inhabitants 


                            // end expositions-card 
                .inner-background.inner-background--small
                // end page-wrapper 


            // end page

        // end wrapper

        include ../modules/footer

    #scrollUp
        img(src="img/general/angle-top.svg", alt="Angle Top").scrollUp__img


    // scripts 
    script(src='js/scripts.min.js')