doctype html
html(lang='ru')

  include ../modules/head
  
  body

    // begin wrapper
    .wrapper

      include ../modules/header

      // begin main-content
      main.main-content

        // begin shares 
        section.shares
          .container.shares__container
            a.shares__link.shares__link--visible(href="#" style="background-image: url(img/sections/shares/share.jpg);")
            a.shares__link.shares__link--hidden(href="#" style="background-image: url(img/sections/shares/share-mobile.jpg);")
        // end shares 

        // begin expositions 
        section.expositions
          .container
            h2.h2.h2--dark.expositions__title Экспозиции
            .expositions__wrapper
              a(href="#").expositions__item.item-1
                .expositions__img(style="background-image: url(img/sections/expositions/1.jpg)")
                h5.expositions__bottom-title Рыбы умеренных и тропических широт
              a(href="#").expositions__item.item-2
                .expositions__img(style="background-image: url(img/sections/expositions/2.jpg)")
                h5.expositions__bottom-title  Дорога к океану
              a(href="#").expositions__item.item-3
                .expositions__img(style="background-image: url(img/sections/expositions/3.jpg)")
                h5.expositions__bottom-title Мир медуз
              a(href="#").expositions__item.item-4
                .expositions__img(style="background-image: url(img/sections/expositions/4.jpg)")
                h5.expositions__bottom-title Скалистое побережье
              a(href="#").expositions__item.item-5
                .expositions__img(style="background-image: url(img/sections/expositions/5.jpg)")
                h5.expositions__bottom-title Главный аквариум
              a(href="#").expositions__item.item-6
                .expositions__img(style="background-image: url(img/sections/expositions/6.jpg)")
                h5.expositions__bottom-title Коралловый риф
              a(href="#").expositions__item.item-7
                .expositions__img(style="background-image: url(img/sections/expositions/7.jpg)")
                h5.expositions__bottom-title Рыбы и млекопитающие С-3 России
        // end expositions 

        // begin performances 
        section.performances

          .wave.wave--top(style="background-image: url(img/general/wave.svg);")

          .section-background(style="background-image: url(img/sections/performances/bg.jpg);")

          .container.performances__container
            h2.h2.performances__title Показательные выступления и шоу программы
            ul.performances__list
              li.performances__item
                a(href="#").performances__link
                  .performances__img(style="background-image: url(img/sections/performances/1.jpg);")
                  h4.performances__item-title
                    |  Шоу 
                    br
                    |  с Акулами
              li.performances__item
                a(href="#").performances__link
                  .performances__img(style="background-image: url(img/sections/performances/2.jpg);")
                  h4.performances__item-title
                    |  Шоу 
                    br
                    |  с тюленями
              li.performances__item
                a(href="#").performances__link
                  .performances__img(style="background-image: url(img/sections/performances/3.jpg);")
                  h4.performances__item-title Кормление обитателей

          .wave.wave--bottom.performances__wave(style="background-image: url(img/general/wave.svg);")

        // end performances 

        // begin rates 
        
        section.rates
        
          .wave.wave--top(style="background-image: url(img/general/wave.svg);")

          .container
            h2.h2.rates__title Тарифы

            .rates__wrapper

              ul.rates__list
                li.rates__item
                  a.link(href="#") Цены
                li.rates__item
                  a.link(href="#") Льготы
                li.rates__item
                  a.link(href="#") Акции и скидки
                li.rates__item
                  a.link(href="#") Семейный абонемент выходного дня

              .rates__btns
                button.button 
                  img(src="img/header/btn-img.svg", alt="Button image").button__img
                  |  Электронный билет в Океанариум

        // end rates 

        // begin children 
        section.children(style="background-image: url(img/sections/children/bg.png);")
          .container.children__container


            img.sea-horse(src="img/sections/children/horse.png", alt="Horse")
            img.sink(src="img/sections/children/sink.png", alt="Sink")

            h2.h2.h2--dark.children__title Океанариум детям

            .children__row 

              .children__left
                ul.children__slider
                  li.children__slider-item(style="background-image: url(img/sections/children/1.jpg);")
                  li.children__slider-item(style="background-image: url(img/sections/children/1.jpg);")
                  li.children__slider-item(style="background-image: url(img/sections/children/1.jpg);")

                button.children-arrow.children-arrow--left.slick-arrow
                  img(src="img/sections/children/arrow-left.svg", alt="Arrow image")
                button.children-arrow.children-arrow--right.slick-arrow
                  img(src="img/sections/children/arrow-right.svg", alt="Arrow image")


              .children__right

                img(src="img/sections/children/plant.png", alt="Plant").children__right-img

                ul.children__nav
                  li.children__nav-item
                    a.children__nav-link.link(href="#") Для дошкольников
                  li.children__nav-item
                    a.children__nav-link.link(href="#") Для школьников
                  li.children__nav-item
                    a.children__nav-link.link(href="#") Конкурс “Большая Регата”
                  li.children__nav-item
                    a.children__nav-link.link(href="#") Развлекательные программы для детей
                  li.children__nav-item
                    a.children__nav-link.link(href="#") Буклет-путеводитель для детей
                  li.children__nav-item
                    a.children__nav-link.link(href="#") Контакты Учебного центра

                img.crab(src="img/sections/children/crab.png", alt="Crab")

        // end children 

        // begin diving 
        section.diving

          .diving__background(style="background-image: url(img/sections/diving/bg.jpg);")

          .diving__wrapper

            .container
              .diving__row
                .diving__content

                  .diving__images
                    a(href="#").diving__img.diving__img--big(style="background-image: url(img/sections/diving/1.jpg);")
                    a(href="#").diving__img.diving__img--small(style="background-image: url(img/sections/diving/2.jpg);")

                  a(href="#").diving__info
                    h2.h2.diving__title Дайвинг
                    .diving__body
                      .diving__text 
                        |  Обучение дайвингу
                        br
                        |  и экскурсии в главный аквариум
                      img.diving__arrow(src="img/sections/diving/arrow.svg", alt="Arrow")


        // end diving 

      // end main-content

    // end wrapper

    include ../modules/footer

    #scrollUp
      img(src="img/general/angle-top.svg", alt="Angle Top").scrollUp__img


    // scripts 
    script(src='js/scripts.min.js')