doctype html
html(lang='ru')

  include ../modules/head
  
  body

    // begin wrapper
    .wrapper

      include ../modules/header

      // begin main-content
      main.main-content

        // begin shares 
        section.shares
          .container.shares__container
            a.shares__link.shares__link--visible(href="#" style="background-image: url(img/sections/shares/share.jpg);")
            a.shares__link.shares__link--hidden(href="#" style="background-image: url(img/sections/shares/share-mobile.jpg);")
        // end shares 

        // begin expositions 
        section.expositions
          .container
            h2.h2.h2--dark.expositions__title Экспозиции
            .expositions__wrapper
              a(href="#").expositions__item.item-1
                .expositions__img(style="background-image: url(img/sections/expositions/1.jpg)")
                h5.expositions__bottom-title Рыбы умеренных и тропических широт
              a(href="#").expositions__item.item-2
                .expositions__img(style="background-image: url(img/sections/expositions/2.jpg)")
                h5.expositions__bottom-title  Дорога к океану
              a(href="#").expositions__item.item-3
                .expositions__img(style="background-image: url(img/sections/expositions/3.jpg)")
                h5.expositions__bottom-title Мир медуз
              a(href="#").expositions__item.item-4
                .expositions__img(style="background-image: url(img/sections/expositions/4.jpg)")
                h5.expositions__bottom-title Скалистое побережье
              a(href="#").expositions__item.item-5
                .expositions__img(style="background-image: url(img/sections/expositions/5.jpg)")
                h5.expositions__bottom-title Главный аквариум
              a(href="#").expositions__item.item-6
                .expositions__img(style="background-image: url(img/sections/expositions/6.jpg)")
                h5.expositions__bottom-title Коралловый риф
              a(href="#").expositions__item.item-7
                .expositions__img(style="background-image: url(img/sections/expositions/7.jpg)")
                h5.expositions__bottom-title Рыбы и млекопитающие С-3 России
        // end expositions 

        // begin performances 
        section.performances

          .wave.wave--top(style="background-image: url(img/general/wave.svg);")

          .section-background(style="background-image: url(img/sections/performances/bg.jpg);")

          .container.performances__container
            h2.h2.performances__title Показательные выступления и шоу программы
            ul.performances__list
              li.performances__item
                a(href="#").performances__link
                  .performances__img(style="background-image: url(img/sections/performances/1.jpg);")
                  h4.performances__item-title
                    |  Шоу 
                    br
                    |  с Акулами
              li.performances__item
                a(href="#").performances__link
                  .performances__img(style="background-image: url(img/sections/performances/2.jpg);")
                  h4.performances__item-title
                    |  Шоу 
                    br
                    |  с тюленями
              li.performances__item
                a(href="#").performances__link
                  .performances__img(style="background-image: url(img/sections/performances/3.jpg);")
                  h4.performances__item-title Кормление обитателей

          .wave.wave--bottom.performances__wave(style="background-image: url(img/general/wave.svg);")

        // end performances 

        // begin rates 
        
        section.rates
        
          .wave.wave--top(style="background-image: url(img/general/wave.svg);")

          .container
            h2.h2.rates__title Тарифы

            .rates__wrapper

              ul.rates__list
                li.rates__item
                  a.rates__link(href="#") Цены
                li.rates__item
                  a.rates__link(href="#") Льготы
                li.rates__item
                  a.rates__link(href="#") Акции и скидки
                li.rates__item
                  a.rates__link(href="#") Семейный абонемент выходного дня

              .rates__btns
                button.button 
                  img(src="img/header/btn-img.svg", alt="Button image").button__img
                  |  Электронный билет в Океанариум

        // end rates 

        // begin children 
        section.children
          .container
            h2.h2.h2--dark Океанариум детям

            .children__row 

              ul.children__slider
                li.children__slider-item(style="background-image: url(img/sections/children/1.jpg);")
                li.children__slider-item(style="background-image: url(img/sections/children/2.jpg);")
                li.children__slider-item(style="background-image: url(img/sections/children/3.jpg);")

              ul.children__nav
                li.children__nav-item
                  a.children__nav-link(href="#") Для дошкольников
                li.children__nav-item
                  a.children__nav-link(href="#") Для школьников
                li.children__nav-item
                  a.children__nav-link(href="#") Конкурс “Большая Регата”
                li.children__nav-item
                  a.children__nav-link(href="#") Развлекательные программы для детей
                li.children__nav-item
                  a.children__nav-link(href="#") Буклет-путеводитель для детей
                li.children__nav-item
                  a.children__nav-link(href="#") Контакты Учебного центра

        // end children 

      // end main-content

    // end wrapper

    include ../modules/footer


    // scripts 
    script(src='js/scripts.min.js')