doctype html
html(lang='ru')

  include ../modules/head
  
  body.is-internal

    // begin wrapper
    .wrapper.is-inner

        img.background-img(src="img/general/body-bg.jpg", alt="Page body image")

        // begin header 
        header.header.header-inner

            .header__container.container
                .header__top

                    // begin contacts 
                    .contacts
                        .contacts__left
                            a(href="#").contacts__left-link
                                span.contacts__hours Время работы 10-22
                                span.contacts__schedule каждый 3-ий понедельник месяца - санитарный день
                            a.contacts__link(href="site-plan.html") План океанариума      
                        .contacts__right
                            address.contacts__address
                                a.contacts__address-link(href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%9C%D0%B0%D1%80%D0%B0%D1%82%D0%B0,+86,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+191119/@59.9189478,30.3367602,17z/data=!3m1!4b1!4m5!3m4!1s0x46963052d4a092f1:0x1cc3e8c780acd480!8m2!3d59.9189451!4d30.3389542" target="_blank") Спб, ул. Марата, 86
                            a.contacts__phone(href="tel:+79219413588") +7 921 941-35-88

                            // begin socials 
                            ul.socials
                                li.socials__item
                                    a.socials__link(href="#" target="_blank")
                                        img(src="img/general/vk.svg", alt="Social image").socials__img
                                li.socials__item
                                    a.socials__link(href="#" target="_blank")
                                        img(src="img/general/fb.svg", alt="Social image").socials__img
                                li.socials__item
                                    a.socials__link(href="#" target="_blank")
                                        img(src="img/general/inst.svg", alt="Social image").socials__img
                            // end socials 
                    // end contacts 

                    .header__logo

                        // begin logo 
                        a(href="index.html").logo
                            img(src="img/general/logo.png", alt="Logotype").logo__img
                        // end logo 

                    .header__top-right

                        .header__actions

                            a(href="http://neptun-trk.volex.beget.tech").header-actions__link
                                img(src="img/general/second-logo.svg", alt="Alter logotype").header__actions-img

                            .header__actions-bottom

                                // begin languages 
                                ul.languages
                                    li.languages__item
                                        a(href="#").languages__link RU
                                    li.languages__item
                                        a(href="#").languages__link ENG
                                // end languages 

                                // begin search 
                                form.search.header__search
                                    input(type="submit" value="" style="background-image: url(img/general/search.svg);").search__button
                                    input.search__input(type="text" required="required" placeholder="Поиск")
                                // end search 

                        .header__btns
                            button.button.header__btn.header__btns-item.header__btn--visible
                                img(src="img/header/btn-img.svg", alt="Button image").button__img
                                span.header__btn-text.header__btn-text--visible  Электронный билет в Океанариум
                                span.header__btn-text.header__btn-text--hidden  Эл. билет

                            // begin toggle-menu 
                            button.toggle-menu.header__btns-item
                                span.sandwich
                                    span.sandwich__line.sandwich__line-top
                                    span.sandwich__line.sandwich__line-mid
                                    span.sandwich__line.sandwich__line-bot
                                span.toggle-menu__text Меню
                            // end toggle-menu 

                // begin navigation 
                nav.navigation
                    ul.navigation__list.menu.menu--hidden
                        li.menu__item
                            a.menu__link(href="index.html") Главная
                        li.menu__item
                            a.menu__link(href="#") О нас
                        li.menu__item
                            a.menu__link(href="#") 
                                |  Информация
                                br.header__br 
                                |  для посетителей
                        li.menu__item
                            a.menu__link(href="#")
                                |  Показательные кормления
                                br.header__br
                                |  и шоу-программы
                        li.menu__item
                            a.menu__link(href="#") 
                                |  Океанариум
                                br.header__br 
                                |  детям
                        li.menu__item
                            a.menu__link(href="#") Дайвинг-центр
                            // begin menu-dropdown 
                            ul.menu-dropdown
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Дайвинг-центр “Планета Нептун”
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Обучение дайвингу
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Экскурсии в главный танк
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Подарочный сертификат    
                            // end menu-dropdown 
                        li.menu__item
                            a.menu__link(href="#") 
                                |  Магазин
                                br.header__br 
                                |  сувениров
                        li.menu__item
                            a.menu__link(href="#") Контакты
                // end navigation  

                .container
                    .page-heading
                        h1.title.page-heading__title Для школьников

                    // begin breadcrumbs 
                    .breadcrumbs
                        ul.breadcrumbs__list
                            li.breadcrumbs__item
                                a(href="index.html").breadcrumbs__link Главная
                                img(src="img/general/breadcrumbs-item.png", alt="Breadcrumbs image").breadcrumbs__img
                            li.breadcrumbs__item
                                a(href="aquarium-children.html").breadcrumbs__link Океанариум детям
                                img(src="img/general/breadcrumbs-item.png", alt="Breadcrumbs image").breadcrumbs__img
                            li.breadcrumbs__item
                                a(href="schoolchildren.html").breadcrumbs__link Для школьников
                    // end breadcrumbs 

        // end header

        // begin page
        main.page 

            // begin page-wrapper 
            .page-wrapper
                .page-wrapper__row
                    
                    // begin sidebar 
                    aside.sidebar

                        .sidebar__background(style="background-image: url(img/pages/page-image.png);")

                        // begin inner-menu 
                        .inner-menu
                            .inner-menu__wrapper
                                .inner-menu__sandwich
                                    span.inner-menu__line.inner-menu__line--top
                                    span.inner-menu__line.inner-menu__line--middle
                                    span.inner-menu__line.inner-menu__line--bottom
                                a(href="aquarium-children.html").inner-menu__text.inner-heading Океанариум детям
                            ul.sidebar__list
                                li.sidebar__item
                                    a(href="#").sidebar__link.link Для дошкольников
                                li.sidebar__item
                                    a(href="#").sidebar__link.link.active Для школьников
                                li.sidebar__item
                                    a(href="#").sidebar__link.link Конкурс «Большая регата»
                                li.sidebar__item
                                    a(href="#").sidebar__link.link Развлекательные программы для детей
                                li.sidebar__item
                                    a(href="#").sidebar__link.link Буклет-путеводитель для детей
                                li.sidebar__item
                                    a(href="#").sidebar__link.link Контакты учебного центра
                                
                        // end inner-menu 
                    // end sidebar 

                    .page-wrapper__right
                        // begin schoolchildren 
                        section.schoolchildren 

                            .text.schoolchildren__text
                                p
                                    |  С 2007 года в Океанариуме разработано более 30 тематических занятий и экскурсий 
                                    |  для детей любого возраста. Для проведения занятий Океанариум располагает учебным классом,              
                                    |  в котором можно разместить на занятие класс до 30 человек. Для того, чтобы наши занятия отличались 
                                    |  от школьных уроков мы включаем в них игровые задания, работу на экспозиции, а также используем уникальные 
                                    |  экспонаты, которые за эти годы были собраны Учебным центром. Где ещё можно потрогать зубы пираний, кожу 
                                    |  акулы или действующее водолазное снаряжение?
                                    br
                                    |  Подробнее с занятиями центра, а также с расценками на посещение вы можете ознакомиться в этом разделе нашего сайта. Ниже представлены тематические разделы. В каждом из них есть список занятий и возраст, на который эти занятия рассчитаны.

                            // begin cards 
                            ul.cards.schoolchildren__cards.cards--mobile-text
                                li.cards__item(style="background-image: url(img/pages/schoolchildren/1.jpg);")
                                    a.cards__link(href="#")
                                        .cards__hidden
                                            .cards__heading Экскурсии для школьников 
                                        .cards__text
                                            p.
                                                В Океанариуме действует система скидок при посещении одной группой нескольких занятий. Расценки на услуги Учебного центра океанариума с 01 сентября 2016
                                            .cards__hidden-link Подробнее »

                                li.cards__item(style="background-image: url(img/pages/schoolchildren/2.jpg);")
                                    a.cards__link(href="#")
                                        .cards__hidden
                                            .cards__heading Занятия для 1-3 классов 
                                        .cards__text
                                            p.
                                                В Океанариуме действует система скидок при посещении одной группой нескольких занятий. Расценки на услуги Учебного центра океанариума с 01 сентября 2016
                                            .cards__hidden-link Подробнее »

                                li.cards__item(style="background-image: url(img/pages/schoolchildren/3.jpg);")
                                    a.cards__link(href="#")
                                        .cards__hidden
                                            .cards__heading Занятия для 4-7 классов
                                        .cards__text
                                            p.
                                                В Океанариуме действует система скидок при посещении одной группой нескольких занятий. Расценки на услуги Учебного центра океанариума с 01 сентября 2016
                                            .cards__hidden-link Подробнее »

                                li.cards__item(style="background-image: url(img/pages/schoolchildren/4.jpg);")
                                    a.cards__link(href="#")
                                        .cards__hidden
                                            .cards__heading Занятия для 8-11 классов
                                        .cards__text
                                            p.
                                                В Океанариуме действует система скидок при посещении одной группой нескольких занятий. Расценки на услуги Учебного центра океанариума с 01 сентября 2016
                                            .cards__hidden-link Подробнее »

                                li.cards__item(style="background-image: url(img/pages/schoolchildren/5.jpg);")
                                    a.cards__link(href="#")
                                        .cards__hidden
                                            .cards__heading Цены на занятия и экскурсии
                                        .cards__text
                                            p.
                                                В Океанариуме действует система скидок при посещении одной группой нескольких занятий. Расценки на услуги Учебного центра океанариума с 01 сентября 2016
                                            .cards__hidden-link Подробнее »

                                li.cards__item(style="background-image: url(img/pages/schoolchildren/6.jpg);")
                                    a.cards__link(href="#")
                                        .cards__hidden
                                            .cards__heading Занятия по темам 
                                        .cards__text
                                            p.
                                                В Океанариуме действует система скидок при посещении одной группой нескольких занятий. Расценки на услуги Учебного центра океанариума с 01 сентября 2016
                                            .cards__hidden-link Подробнее »

                            // end cards 

                        // end schoolchildren 

            // end page-wrapper 

            .inner-background.inner-background--small

        // end page

    // end wrapper

    include ../modules/footer

    #scrollUp
      img(src="img/general/angle-top.svg", alt="Angle Top").scrollUp__img


    // scripts 
    script(src='js/scripts.min.js')