doctype html
html(lang='ru')

  include ../modules/head
  
  body

    // begin wrapper
    .wrapper.is-inner(style="background-image: url(img/general/body-bg.jpg);")

      include ../modules/inner-header

      // begin page
      main.page

        .container.page__container
          header.page__header
            h1.title Поиск

            // begin breadcrumbs 
            .breadcrumbs
              ul.breadcrumbs__list
                li.breadcrumbs__item
                  a(href="#").breadcrumbs__link Главная
            // end breadcrumbs 

      // end page

    // end wrapper

    include ../modules/footer

    #scrollUp
      img(src="img/general/angle-top.svg", alt="Angle Top").scrollUp__img


    // scripts 
    script(src='js/scripts.min.js')