.breadcrumbs
    width: 100%
    
.breadcrumbs__list
    display: flex
    flex-wrap: wrap
    justify-content: center

.breadcrumbs__item
    display: flex
    align-items: center

.breadcrumbs__link
    display: block
    color: #ffffff
    text-align: center
    padding: 0 10px
    text-decoration: underline
    flex-shrink: 0

    &:hover
        text-decoration: none

    @media #{$_xs}
        font-size: 12px
        flex-shrink: 1
        

.breadcrumbs__img
    max-width: 14px

    @media #{$_sm}
        max-width: 10px