.navigation
    position: relative
    z-index: 2
    
.menu
    flex-wrap: wrap
    justify-content: space-between
    align-items: stretch
    width: 100%
    border-top: 1px solid rgba(#fff, .25)
    border-bottom: 1px solid rgba(#fff, .25)
    margin-bottom: 10%

.menu--hidden
    @media #{$_md}
        display: none
        flex-direction: column
        border: 0
        background-color: rgba(#000, .8)
        position: absolute
        right: 0
        top: -3px
        padding: 20px
        max-width: 305px

    @media #{$md}
        display: flex !important

    @media #{$_sm}
        top: 3px

.menu__item
    flex-grow: 1
    text-align: center
    margin: 0 5px
    position: relative
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    @media #{$_lg}

        &:first-child
            .menu-dropdown
                left: 0
                transform: translateX(0)

        &:last-child
            .menu-dropdown
                left: initial
                transform: translateX(0)
                right: 0

.menu__link
    padding: 15px 0
    font-size: 13px
    display: block
    color: #ffffff 
    text-transform: uppercase
    font-weight: 700
    transition: color .1s ease

    &:hover
        color: $light-blue

    @media #{$_md}
        padding: 5px 0
        opacity: 0.8
       
.header__br
    @media #{$_md}
        display: none

.menu-dropdown
    display: none
    position: absolute
    top: 100%
    padding: 23px 39px
    background-color: rgba(#000, .85)
    left: 50%
    width: 305px
    transform: translateX(-50%)

    @media #{$_md}
        position: static
        background-color: transparent
        width: 100%
        padding: 5px 0
        transform: translate(0)

.menu-dropdown__item
    &:not(:last-child)
        margin-bottom: 12px

.menu-dropdown__link
    display: block
    white-space: nowrap
    color: #ffffff
    font-size: 14px
    text-decoration: underline