.onecol-list
    margin-bottom: -30px

.onecol-list__item
    display: flex
    margin-bottom: 30px
    align-items: stretch

    @media #{$_sm}
        margin-bottom: 15px

.onecol-list__item-left
    flex-shrink: 0
    max-width: 165px
    flex-grow: 1
    margin-right: 30px

    @media #{$_sm}
        max-width: 112px
        margin-right: 10px

.onecol-list__item-right

    @media #{$_sm}
        font-size: 14px

    @media #{$_xs}
        font-size: 12px

.onecol-list__title
    color: $main-color
    font-weight: 700
    cursor: pointer
    margin-bottom: 12px
    transition: color .15s ease
    display: inline-block

    &:hover
        color: lighten($accent, 5%)
        text-decoration: underline

    @media #{$_sm}
        font-weight: 400
        margin-bottom: 5px

.onecol-list__text
    max-width: 375px

.onecol-list__cite
    display: block
    font-size: 14px
    color: #777777   

    @media #{$_sm}
        font-size: 11px

.onecol-list__link
    display: block
    color: $main-color
    max-width: 385px

    &:hover
        color: lighten($accent, 5%)
        text-decoration: underline

.onecol-list__bottom
    display: flex
    width: 100%
    justify-content: space-between
    align-items: flex-end
    flex-wrap: wrap

.onecol-list__pdf-open
    display: flex
    align-items: center
    font-size: 14px
    color: lighten($accent, 5%)

    img
        margin-left: 10px

    @media #{$_sm}
        margin-left: auto
        font-size: 12px

        img
            width: 13px

.onecol-list__pdf-text
    text-decoration: underline

    &:hover
        text-decoration: none