.onecol-list
    margin-bottom: -30px

.onecol-list__item
    display: flex
    margin-bottom: 30px
    cursor: pointer
    align-items: flex-start

    @media #{$_sm}
        margin-bottom: 15px

    &:hover
        .onecol-list__title
            color: lighten($accent, 5%)
            text-decoration: underline

.onecol-list__item-left
    flex-shrink: 0
    max-width: 165px
    flex-grow: 1
    margin-right: 30px

    @media #{$_sm}
        max-width: 112px
        margin-right: 10px

.onecol-list__item-right
    @media #{$_sm}
        font-size: 14px

    @media #{$_xs}
        font-size: 12px

.onecol-list__title
    display: inline-block
    color: $main-color
    font-weight: 700
    margin-bottom: 12px
    transition: color .15s ease

    @media #{$_sm}
        font-weight: 400
        margin-bottom: 5px

.onecol-list__text
    max-width: 375px