// begin footer 
footer.footer
    .wave.wave--top(style="background-image: url(img/general/wave.svg);")

    .container

        // begin navigation 
        nav.navigation.footer__navigation
            ul.navigation__list.menu
                li.menu__item
                    a.menu__link(href="#") Главная
                li.menu__item
                    a.menu__link(href="#") О нас
                li.menu__item
                    a.menu__link(href="#") 
                        |  Информация
                        br 
                        |  для посетителей
                li.menu__item
                    a.menu__link(href="#")
                        |  Показательные кормления
                        br
                        |  и шоу-программы
                li.menu__item
                    a.menu__link(href="#") 
                        |  Океанариум
                        br 
                        |  детям
                li.menu__item
                    a.menu__link(href="#") Дайвинг-центр
                    // begin menu-dropdown 
                    ul.menu-dropdown
                        li.menu-dropdown__item
                            a.menu-dropdown__link(href="#") Дайвинг-центр “Планета Нептун”
                        li.menu-dropdown__item
                            a.menu-dropdown__link(href="#") Обучение дайвингу
                        li.menu-dropdown__item
                            a.menu-dropdown__link(href="#") Экскурсии в главный танк
                        li.menu-dropdown__item
                            a.menu-dropdown__link(href="#") Подарочный сертификат    
                    // end menu-dropdown 
                li.menu__item
                    a.menu__link(href="#") 
                        |  Магазин
                        br 
                        |  сувениров
                li.menu__item
                    a.menu__link(href="#") Контакты
        // end navigation 

        .footer__bottom

            .footer__logo

                // begin logo 
                a(href="index.html").logo
                    img(src="img/general/logo.png", alt="Logotype").logo__img
                // end logo

            // begin contacts 
            .contacts.footer__contacts
                .contacts__left
                    .contacts__hours Время работы 10-22
                    .contacts__schedule каждый 3-ий понедельник месяца - санитарный день
                    a.contacts__link(href="site-plan.html") План океанариума      
                .contacts__right
                    address.contacts__address Спб, ул. Марата, 86
                    a.contacts__phone(href="tel:+79219413588") +7 921 941-35-88

                    // begin socials 
                    ul.socials
                        li.socials__item
                            a.socials__link(href="#")
                                img(src="img/general/vk.svg", alt="Social image").socials__img
                        li.socials__item
                            a.socials__link(href="#")
                                img(src="img/general/fb.svg", alt="Social image").socials__img
                        li.socials__item
                            a.socials__link(href="#")
                                img(src="img/general/inst.svg", alt="Social image").socials__img
                    // end socials 

            // end contacts 

            // begin copyright 
            .copyright
                .copyright__text
                    p.
                      ТРК "Планета Нептун" — торговый развлекательный комплекс Санкт-Петербурга ©2018 СПб
                a.copyright__link(href="http://volex.su/web_studiya") Создание сайта - веб студия интернет-агентства “Волекс” 
            // end copyright 

// end footer 