// begin header 
header.header

    .header__bg(style="background-image: url(img/header/bg.jpg);")

    video(autoplay muted loop).header__video
        source(src="img/Animals.mp4" type="video/mp4")

    .header__container.container
        .header__top

            // begin contacts 
            .contacts
                .contacts__left
                    .contacts__hours Время работы 10-22
                    .contacts__schedule каждый 3-ий понедельник месяца - санитарный день
                    a.contacts__link(href="site-plan.html") План океанариума      
                .contacts__right
                    address.contacts__address Спб, ул. Марата, 86
                    a.contacts__phone(href="tel:+79219413588") +7 921 941-35-88

                    // begin socials 
                    ul.socials
                        li.socials__item
                            a.socials__link(href="#" target="_blank")
                                img(src="img/general/vk.svg", alt="Social image").socials__img
                        li.socials__item
                            a.socials__link(href="#" target="_blank")
                                img(src="img/general/fb.svg", alt="Social image").socials__img
                        li.socials__item
                            a.socials__link(href="#" target="_blank")
                                img(src="img/general/inst.svg", alt="Social image").socials__img
                    // end socials 

            // end contacts 

            .header__logo

                // begin logo 
                a(href="index.html").logo
                    img(src="img/general/logo.png", alt="Logotype").logo__img
                // end logo 

            .header__top-right

                .header__actions

                    a(href="index.html").header-actions__link
                        img(src="img/general/second-logo.svg", alt="Alter logotype").header__actions-img

                    .header__actions-bottom

                        // begin languages 
                        ul.languages
                            li.languages__item
                                a(href="#").languages__link RU
                            li.languages__item
                                a(href="#").languages__link ENG
                        // end languages 

                        // begin search 
                        form.search.header__search
                            button(type="submit").search__button 
                                img(src="img/general/search.svg", alt="Search icon")
                        // end search 

                .header__btns
                    button.button.header__btn.header__btns-item.header__btn--visible
                        img(src="img/header/btn-img.svg", alt="Button image").button__img
                        |  Электронный билет в Океанариум

                    button.button.header__btn.header__btns-item.header__btn--hidden
                        img(src="img/header/btn-img.svg", alt="Button image").button__img
                        |  Эл. билет

                    // begin toggle-menu 
                    button.toggle-menu.header__btns-item
                        span.sandwich
                            span.sandwich__line.sandwich__line-top
                            span.sandwich__line.sandwich__line-mid
                            span.sandwich__line.sandwich__line-bot
                        span.toggle-menu__text Меню
                    // end toggle-menu 

        // begin navigation 
        nav.navigation
            ul.navigation__list.menu.menu--hidden
                li.menu__item
                    a.menu__link(href="#") Главная
                li.menu__item
                    a.menu__link(href="#") О нас
                li.menu__item
                    a.menu__link(href="#") 
                        |  Информация
                        br.header__br 
                        |  для посетителей
                li.menu__item
                    a.menu__link(href="#")
                        |  Показательные кормления
                        br.header__br
                        |  и шоу-программы
                li.menu__item
                    a.menu__link(href="#") 
                        |  Океанариум
                        br.header__br 
                        |  детям
                li.menu__item
                    a.menu__link(href="#") Дайвинг-центр
                    // begin menu-dropdown 
                    ul.menu-dropdown
                        li.menu-dropdown__item
                            a.menu-dropdown__link(href="#") Дайвинг-центр “Планета Нептун”
                        li.menu-dropdown__item
                            a.menu-dropdown__link(href="#") Обучение дайвингу
                        li.menu-dropdown__item
                            a.menu-dropdown__link(href="#") Экскурсии в главный танк
                        li.menu-dropdown__item
                            a.menu-dropdown__link(href="#") Подарочный сертификат    
                    // end menu-dropdown 
                li.menu__item
                    a.menu__link(href="#") 
                        |  Магазин
                        br.header__br 
                        |  сувениров
                li.menu__item
                    a.menu__link(href="#") Контакты
        // end navigation 

        // begin header-content 
        .header-content
            h1.title.title--md-hidden Санкт-Петербургский океанариум

    .header__wave
        img(src="img/header/wave.svg", alt="Wave")

        // end header-content 
// end header 