// begin navigation 
nav.navigation
    ul.navigation__list.menu
        li.menu__item
            a.menu__link(href="#") Главная
        li.menu__item
            a.menu__link(href="#") О нас
        li.menu__item
            a.menu__link(href="#") 
                |  Информация
                br 
                |  для посетителей
        li.menu__item
            a.menu__link(href="#")
                |  Показательные кормления
                br
                |  и шоу-программы
        li.menu__item
            a.menu__link(href="#") 
                |  Океанариум
                br 
                |  детям
        li.menu__item
            a.menu__link(href="#") Дайвинг-центр
        li.menu__item
            a.menu__link(href="#") 
                |  Магазин
                br 
                |  сувениров
        li.menu__item
            a.menu__link(href="#") Контакты
// end navigation 