// adjusment syles

*
	box-sizing: border-box

html, body
	width: 100%
	height: 100%

body
	min-width: 320px
	font-size: 16px
	line-height: 1.375
	color: $main-color
	-webkit-font-smoothing: antialiased
	background-color: white
	font-family: $main-font

header, section
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	position: relative

ul
	padding: 0
	margin: 0

li 
	list-style: none

p
	margin: 0

.wrapper 
	min-height: 100%
	position: relative
	width: 100%

.container 
	+container

img 
	display: block
	max-width: 100%
	max-height: 100%

h1, h2, h3, h4, h5, h6
	margin-top: 0
	margin-bottom: 0
	font-weight: normal

.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	border-radius: 3px
	background-image: linear-gradient(to top, #0084ca 0%, #00a1f6 100%)
	font-size: 16px
	font-weight: 700
	text-align: center
	position: relative
	outline: none
	transition: transform .1s ease
	cursor: pointer
	padding: 12px 20px
	display: flex
	justify-content: center

	&:hover
		background-image: linear-gradient(to bottom, $accent 0%, lighten($accent, 5%) 100%)

	&:active
		transform: translateY(2px)

.button__img
    margin-right: 10px

.title
	font-size: 60px
	text-transform: uppercase
	font-weight: 700
	color: #ffffff
	text-align: center
	line-height: 1.1

.title--md-hidden
	@media #{$_md}
		display: none

.title--small
	font-size: 42px

.h2
	font-weight: 300
	font-size: 48px
	text-align: center
	text-transform: uppercase
	color: #ffffff

	@media #{$_sm}
		font-size: 36px

	@media #{$_xs}
		font-size: 30px

.h2--dark
	color: $main-color

.main-content
	display: flex
	flex-direction: column

.wave
	background-size: cover
	background-repeat: no-repeat
	background-position: 50% 50%
	height: 42px
	width: 100%
	position: absolute
	left: 0
	
.wave--top
	bottom: calc(100% - 1px)

.wave--bottom
	top: calc(100% - 42px) // высота изображения

.link
	font-size: 18px
	display: inline-block
	text-decoration: underline
	color: $main-color
	transition: color .2s ease, background-color .2s ease
	padding: 11px 21px
	border-radius: 30px

	&:hover
		color: $main-color
		background-color: $light-blue 

	@media #{$_lg}
		padding: 13px 18px

#scrollUp
	bottom: 20px
	right: 20px
	width: 59px
	height: 59px
	position: fixed
	z-index: 50
	border-radius: 100%
	background-color: rgba(#000, .4)
	display: none
	justify-content: center
	align-items: center
	transition: .2s
	cursor: pointer

	&:hover
		background-color: rgba(#000, .8)

	@media #{$_sm}
		width: 40px
		height: 40px

.scrollUp__img
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.is-inner
	position: relative
	background-image: linear-gradient(to top, rgba(29, 35, 48, 0) 0%, rgba(0, 105, 161, 0.64) 79%, rgba(0, 105, 161, 0.7) 86%)

	@media #{$_md}
		background-image: none

.is-inner__background
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	background-size: cover
	background-repeat: no-repeat
	z-index: -10

	@media #{$sm} and #{$_md}
		background-size: contain

	@media #{$_sm}
		background-size: 200%

	@media #{$_xs}
		background-size: 300%

.page-heading
	margin-top: 50px

.page-heading__title
	margin-bottom: 30px

	@media #{$_md}
		font-size: 36px

	@media #{$_sm}
		font-size: 24px

.inner-background
	background-color: $accent
	position: absolute
	bottom: -5px // убирать нежлательные зазоры на переходных разрешениях
	left: 0
	width: 100%
	height: 30%
	z-index: -1

.page-wrapper
	background-color: #ffffff
	+container()
	position: relative
	

.page-wrapper__row
	+row()
	
	