// adjusment syles

*
	box-sizing: border-box

html, body
	width: 100%
	height: 100%

body
	min-width: 320px
	font-size: 16px
	line-height: 1.375
	color: $main-color
	-webkit-font-smoothing: antialiased
	background-color: white
	font-family: $main-font

header, section
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	position: relative

ul
	padding: 0
	margin: 0

li 
	list-style: none

p
	margin: 0

.wrapper 
	position: relative
	width: 100%
	min-height: 100%
	overflow: hidden

.container 
	+container

img 
	display: block
	max-width: 100%
	max-height: 100%

h1, h2, h3, h4, h5, h6
	margin-top: 0
	margin-bottom: 0
	font-weight: normal

.button
	border: none
	color: #fff
	text-decoration: none
	border-radius: 3px
	background-image: linear-gradient(to top, #0084ca 0%, #00a1f6 100%)
	font-size: 16px
	font-weight: 700
	text-align: center
	position: relative
	outline: none
	transition: transform .1s ease
	cursor: pointer
	padding: 12px 20px
	display: flex
	justify-content: center

	&:hover
		background-image: linear-gradient(to bottom, $accent 0%, lighten($accent, 5%) 100%)

	&:active
		transform: translateY(2px)

	@media #{$_sm}
		font-size: 14px

.button__img
	margin-right: 10px

.button__text
	flex-shrink: 0
	

.title
	font-size: 60px
	text-transform: uppercase
	font-weight: 700
	color: #ffffff
	text-align: center
	line-height: 1.1

.title--sm-hidden

	@media #{$_md}
		margin-top: 100px
		font-size: 42px

	@media #{$_sm}
		display: none

.title--small
	font-size: 42px

.h2
	font-weight: 300
	font-size: 48px
	text-align: center
	text-transform: uppercase
	color: #ffffff

	@media #{$_sm}
		font-size: 36px

	@media #{$_xs}
		font-size: 30px

.h2--dark
	color: $main-color

.main-content
	display: flex
	flex-direction: column

.wave
	background-size: cover
	background-repeat: no-repeat
	background-position: 50% 50%
	height: 42px
	width: 100%
	position: absolute
	left: 0
	
.wave--top
	bottom: calc(100% - 3px)

.wave--bottom
	top: calc(100% - 42px) // высота изображения

.link
	font-size: 18px
	display: inline-block
	text-decoration: underline
	color: $main-color
	transition: color .2s ease, background-color .2s ease
	padding: 11px 19px
	border-radius: 30px

	&:hover
		color: $main-color
		background-color: $light-blue 
		text-decoration: none

	&.active
		font-weight: 700
		text-decoration: none
	

	@media #{$_lg}
		padding: 13px 18px

#scrollUp
	bottom: 20px
	right: 20px
	width: 59px
	height: 59px
	position: fixed
	z-index: 50
	border-radius: 100%
	background-color: rgba(#000, .4)
	display: none
	justify-content: center
	align-items: center
	transition: .2s
	cursor: pointer

	&:hover
		background-color: rgba(#000, .8)

	@media #{$_sm}
		width: 40px
		height: 40px

.scrollUp__img
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	
.slick-buttons
	margin-top: 20px
	z-index: 1
	position: relative
	display: flex
	justify-content: center

	li
		margin-right: 5px

		&.slick-active
			.slick-button
				background-color: $accent

		.slick-button
			&:focus
				outline: 0

	@media #{$_sm}
		margin-top: 7px

.slick-button
	cursor: pointer
	width: 15px
	height: 15px
	background-color: #e2e3e6
	border-radius: 50%
	border: 0

	&:hover
		background-color: rgba($accent, .5)

.grey-arrow
    width: 40px
    height: 33px
    position: absolute
    bottom: 25px
    display: flex
    align-items: center
    justify-content: center
    background-color: transparent
    border: 0
    cursor: pointer
    z-index: 1

    &:focus
        outline: 0

    @media #{$_md}
        bottom: 25px

.grey-arrow--left
    left: 30%

    @media #{$_md}
        left: 17%

    @media #{$_sm}
        left: 30%

    @media (max-width: 576px)
        left: 20%

    @media #{$_xs}
        left: 17%

.grey-arrow--right
    right: 30%

    @media #{$_md}
        right: 17%

    @media #{$_sm}
        right: 30%

    @media (max-width: 576px)
        right: 20%

    @media #{$_xs}
        right: 17%

.mask
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(#444, .29)
	z-index: 100

.modal
    position: absolute
    right: -15px
    bottom: -100px
    width: 108%

    @media #{$_md}
        width: 102%
        bottom: initial
        top: -37%
        right: -1%

    @media #{$_sm}
        top: -28%

.modal__body-img
    width: calc(100% + 60px)
    
.modal__exit
    position: absolute
    top: 0
    right: -30px
    width: 24px
    height: 24px
    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 50%
    z-index: 200
    background-color: transparent
    border: 0
    cursor: pointer

    &:active
        transform: translateY(2px)

    &:focus
        outline: 0

    @media #{$_md}
        z-index: 10000
        right: 20px
        top: 20px

.modal__wrapper
    position: relative
    z-index: 200
    background-color: #ffffff
    padding-bottom: 25px

.modal__body
    padding: 0 20px

.modal__images
    justify-content: space-around

    &.triple
        .modal__img
            width: calc(32% - 30px)

        @media #{$_sm}
            
            .inner-images__img
                height: 217px
                width: 100%

.modal__image--big
    @media #{$_md}
        padding-bottom: 47%

.modal__characteristic
    margin-bottom: 30px

.modal__characteristic-item
    margin-bottom: 15px

.modal__text
    margin-bottom: 28px

.modal__header
	position: relative
	min-height: 180px
	padding: 20px 30px
	margin-bottom: 25px
	background-color: $main-color

.modal__header-img
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: 50% 50%
	opacity: 0.5

.modal__header-text
	position: relative
	color: #ffffff
	font-size: 20px
	z-index: 1
	font-weight: 700
	max-width: 500px
	line-height: 1.4

	@media #{$_sm}
		font-size: 16px

.modal__price
	display: flex
	flex-wrap: wrap
	font-size: 18px
	margin-top: 50px
	b
		color: lighten($accent, 5%)
		display: block
		margin-left: 5px
		
	@media #{$_sm}
		font-size: 16px
		margin-top: 30px