.expositions-card__text
    margin-bottom: 45px

.inhabitants__title
    text-align: center
    margin-bottom: 45px

.inhabitants__list
    margin-right: -10px
    display: flex
    flex-wrap: wrap

.inhabitants__item
    margin-right: 10px
    width: calc(20% - 10px)
    margin-bottom: 20px
    cursor: pointer

    &:hover
        .inhabitants__text
            color: $accent

    @media #{$_sm}
        width: calc(50% - 10px)

.inhabitants__img
    display: block
    background-size: cover
    background-repeat: no-repeat
    min-height: 103px
    background-position: 50% 50%
    margin-bottom: 5px

.inhabitants__text
    display: block
    text-align: center
    color: $main-color
    transition: color .15s ease