.information__cards
    
    @media #{$_sm}
        .cards__text,
        .cards__hidden-link,
        .cards__description
            display: block

        .cards__hidden
            top: 65%
            bottom: initial

        .cards__link
            &:hover
                .cards__hidden
                    top: 15%

    @media #{$_xs}
        .cards__link
            &:hover
                .cards__hidden
                    top: 5%